#root {
  max-width: 1123px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  min-height: 94vh;
}

.card a {
  color: #0e0e0e !important;
}

.card div {
  max-width: 953px;
}

.read-the-docs {
  color: #888;
  font-size: .8em;
  display: inline-block;
  height: 26px;

  span {
    margin: 0 3em;
  }

  .made-by {
    font-size: .8em;
    padding-top: 4px;
    float: right;
  }
}

.main-body {
  background-color: white;
  min-height: 100vh;
  min-width:25%;
}

.navbar .nav-box {
  width: 1060;
  display: inline;
  margin: .75em;
}

.navbar .nav-box a {
  color: #f9f9f9;
}

.section {
  text-align: left;
  font-size: 1em;
  padding: 0 .5em .5em;
  margin-left: 1em;
  font-size: .9em;

  h6 {
    text-decoration: underline;
    text-underline-offset: .35em;
  }
}

.top-section {
  margin-top: 1em;
}

.table {
  margin-top: 2em;
    text-align: left;

    ul li {
      display: block;
    }
}

.about-league {
  min-height: 345px;
}

.about-cup {
  min-height: 345px;
}

.cup {
  img {
    float: left;
    margin: -4em 2.5em 0 0;
  }
}

.history {
  img {
    float: right;
    margin: 0em 0 0 2.5em;
  }
}

.commishes {
  img {
    float: right;
    margin: -1em 0 0 2.5em;
  }
}

.standings-module, .schedule-module {
  padding: 2em;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin: 2em 0 3em;
}

.date-header {
  td {
    padding: 0;
  }

  div {
    background: #202526;
    color: #f9f9f9;
    padding: .5rem .5rem;
  }
}

.sched-team {
  width: 32%;
  max-width: 32%;
  border-left: #0e0e0e 1px solid;
}
.sched-score {
  width: 10%;
  max-width: 10%;
}

.rosters-player {
  width: 20%;
  max-width: 20%;
}

.rosters-games {
  width: 13%;
  max-width: 13%;
  border-left: #0e0e0e 1px solid;
}

.rosters-stats {
  width: 10%;
  max-width: 10%;
}

.rosters-ga-stats {
  width: 12%;
  max-width: 12%;
  border-left: #0e0e0e 1px solid;
}

.announcements {
  p {
    margin-left: 32px;
  }
}

.stats-nav {
  width: 49.5%;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px 6px 0 0;
}

.active-nav {
  background: darkgray;
}

.active {
  font-weight: 1000;
  text-decoration: underline !important;
  text-underline-offset: .35em;
}

.game-expander {
  cursor: pointer;
}

.game-player-stats {
  width: 47.62%;
  display: inline-table;
  margin: -28px 10px;
}

.game-team-identifier {
  display: none;
}

.expand-icon {
  display: inline;
  font-size: .75em;
}

.sub-player {
  font-style: italic;
}

.sortable-header {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .game-player-stats {
    width: 100%;
    margin: -28px 0px;
  }

  .game-team-identifier {
    display: inline;
  }

  .sched-time {
    display: flex;

    i {
      margin-top: 25%;
    }
  }
}